<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시간표조회</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <br>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <th scope="col" class="text-center">이름: <%= std.std_name %></th>
                    <th scope="col" class="text-center"><%= std.std_unive %> 대학</th>
                    <th scope="col" class="text-center">학과: <%= std.std_dept %></t>
                    <th scope="col" class="text-center">학번: <%= std.std_no %></th>
                </tr>
            </tbody>
        </table>
        <br><br>
        <p class="fs-2 text-center">시간표</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center">과목명</th>
                    <th scope="col" class="text-center">수강 요일</th>
                    <th scope="col" class="text-center">수강 시간</th>
                    <th scope="col" class="text-center">강의실</th>
                    <th scope="col" class="text-center">교수명</th>
                </tr>
            </thead>
            <tbody>
                <% for(var s of schedules){ %>
                    <tr>
                        <th scope="col" class="text-center"><%= s.교과목명 %></th>
                        <th scope="col" class="text-center"><%= s.수강요일 %></th>
                        <th scope="col" class="text-center"><%= s.수강시간 %></th>
                        <th scope="col" class="text-center"><%= s.강의실이름 %></th>
                        <th scope="col" class="text-center"><%= s.교수님성함 %></th>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <form method="get" action="/">
            <div class="d-grid gap-2 col-4 mx-auto mt-5">
                <button class="btn btn-outline-dark" type="submit">홈 화면 가기</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>